version: '3'

services:

    redmine:
        environment:
            DB_ADAPTER: postgresql
            DB_HOST: postgres
            DB_PORT: 5432
            DB_USER: redmine
            DB_PASS: password
            DB_NAME: redmine_production
            SMTP_ENABLED: "true"
            SMTP_DOMAIN: smtp.gmail.com
            SMTP_HOST: smtp.gmail.com
            SMTP_PORT: 587
            SMTP_USER: mailer@example.com
            SMTP_PASS: password
            SMTP_STARTTLS: "true"
            SMTP_AUTHENTICATION: :plain
        ports:
            - 8082:80

    postgres:
        environment:
            DB_USER: redmine
            DB_PASS: password

    sonarqube:
        ports:
            - 9000:9000
